<div class="container">
  <%= render 'shared/navbar' %>

  <div class="row">
    <div class="twelve columns">
      <h1 class="text-centered">Aerial</h1>
      <h3 class="text-centered m-0">A community for aerial videographers.</h3>
    </div>
  </div>

  <div class="row">
    <div class="six columns offset-by-three">
      <p class="text-centered tags">
        <% tag_cloud Video.tag_counts, %w{extra-small small medium large extra-large} do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), class: css_class + " tag" %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="row">
    <% @videos.each do |video| %>
        <iframe width="560" height="315" src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
    <% end %>
  </div>
</div>
